<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    
</head>
<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flashCon">
            {% for category, message in messages %}
                <div class="flash {{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <nav class="nvb navbar navbar-expand-lg navbar-toggler navbar-dark">
        <div class="container-fluid">

                <button class="navbar-toggler" type="button" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#navbarContent" 
                    aria-controls="navbarContent" 
                    aria-expanded="false" 
                    aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            
        <div class=" nvb navbar navbar-expand-md container-fluid collapse navbar-collapse" id="navbarContent">
            <div class="leftnvb">
                {% if current_user.is_artist %}
                <button class="upload navbar-brand">Upload Song</button>
                {% endif %}
            </div>

            <div class="middlenvb">
                <img src="../static/home--v3.png" class="homeicon">
                <input class="searchbar" type="search" name="search" placeholder="Search">
            </div>

            <div class="rightnvb">
                <img src="{{ current_user.pfp }}" class="pfp" alt="Profile Picture">
            </div>

            </div>
        </div>
    </nav>

    <div class="layout container-fluid">

        <div class="centered container-fluid">

            <div class="createbg bg">
                <h1 class="createtitle">Create Playlist</h1>
                <form action="{{ url_for('create') }}" method="post" class="createform">
                    <input class="bginp createtext" type="text" placeholder="Playlist Name" name="plname" required>
                    <div class="centerlabel">
                        <label for='plpfp' class="labelbtn pllabel">Choose Picture</label>
                        <p class="plfilename">No File Chosen</p>
                    </div>
                    <input class="bgsubmit plsubmit" type="submit" value="Create Playlist">
                </form>
                    <form class="setpfpform" action="{{ url_for('create') }}" method="post" enctype="multipart/form-data">
                        <input type="file" id="plpfp" accept="image/*" name="newpfp" hidden required>
                    </form>
            </div>  
        </div>
    </div>


        </body>
    </html>



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script>
        const uploadbtn = document.querySelector('.upload')
        const sidebar = document.querySelector('.sidebar')
        const resizer = document.querySelector('.resizer')
        const genrebox = document.querySelectorAll('.grid-item')
        const home = document.querySelector('.homeicon');
        const pfp = document.querySelector('.pfp');
        const hiddenupload = document.querySelector('#plpfp');
        const settingspfp = document.querySelector('.settingspfp');
        const pfpform = document.querySelector('.setpfpform');
        const logout = document.querySelector('.logout');

        const profilebtn = document.querySelector('.profilebtn');
        const securitybtn = document.querySelector('.securitybtn');
        const accountbtn = document.querySelector('.accountbtn');

        const profile = document.querySelector('.profile');
        const security = document.querySelector('.security');
        const account = document.querySelector('.account');
        const modal = document.querySelector(".modaloverlay");
        const deletebtn = document.querySelector('.delete');

        document.querySelectorAll('.flash').forEach(flash => {
            setTimeout(() => {
                flash.style.transition = "all 0.5s ease";
                flash.style.opacity = 0;
                flash.style.transform = "translateY(50px)";
                setTimeout(() => flash.remove(), 500);
            }, 3000);
        });

        document.addEventListener('DOMContentLoaded', ()=> {
            hiddenupload.addEventListener('change', function() {
                const fileName = this.files[0] ? this.files[0].name : "No file chosen";
                  document.querySelector(".plfilename").textContent = fileName;
            })
        })
        
        pfp.addEventListener('click', ()=> {
            window.location.href = "{{ url_for('settings', user_id=current_user.id)}}"
        })        

        home.addEventListener('click', ()=> {
            window.location.href = "{{ url_for('home') }}"
        })

        uploadbtn.addEventListener('click', ()=> {
            window.location.href = '{{ url_for("upload") }}'
        })


    </script>
</body>
</html>