<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    
</head>
<body>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="flashCon">
            {% for category, message in messages %}
                <div class="flash {{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <nav class="nvb navbar navbar-expand-lg navbar-toggler navbar-dark" style="position: relative;">
        <div class="container-fluid">
            {% if current_user.is_artist %}
                <button class="navbar-toggler" type="button" 
                    data-bs-toggle="collapse" 
                    data-bs-target="#navbarContent" 
                    aria-controls="navbarContent" 
                    aria-expanded="false" 
                    aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            
        <div class=" nvb navbar navbar-expand-md container-fluid collapse navbar-collapse" id="navbarContent">
            <div class="leftnvb">
                <button class="upload navbar-brand">Upload Song</button>
            </div>

            <div class="middlenvb">
                <img src="../static/home--v3.png" class="homeicon">
                <input class="searchbar" type="search" name="search" placeholder="Search">
            </div>

            <div class="rightnvb">
                <img src="{{ current_user.pfp }}" class="pfp" alt="Profile Picture">
            </div>
            {% endif %}
            </div>
        </div>
    </nav>

    <div class="layout container-fluid">

        <div class="centered container-fluid">

            <div class="bg">
                <h1 class="createtitle">Create Playlist</h1>
                <img src="{{ playlist.playlistpic }}" class="playlistpic" alt="Playlist Img">
            </div>
        </div>
    </div>


        </body>
    </html>



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script>
        const uploadbtn = document.querySelector('.upload')
        const sidebar = document.querySelector('.sidebar')
        const resizer = document.querySelector('.resizer')
        const genrebox = document.querySelectorAll('.grid-item')
        const home = document.querySelector('.homeicon');
        const pfp = document.querySelector('.pfp');
        const hiddenupload = document.querySelector('#change');
        const settingspfp = document.querySelector('.settingspfp');
        const pfpform = document.querySelector('.setpfpform');
        const logout = document.querySelector('.logout');

        const profilebtn = document.querySelector('.profilebtn');
        const securitybtn = document.querySelector('.securitybtn');
        const accountbtn = document.querySelector('.accountbtn');

        const profile = document.querySelector('.profile');
        const security = document.querySelector('.security');
        const account = document.querySelector('.account');
        const modal = document.querySelector(".modaloverlay");
        const deletebtn = document.querySelector('.delete');

        deletebtn.addEventListener('click', ()=> {
            modal.style.display = 'flex';
        })

        document.addEventListener("click", (event) => {

        if (modal.style.display === "flex") {

            if (event.target === modal) {
            modal.style.display = "none";
            }
        }
        });


        logout.addEventListener('click', ()=> {
            window.location.href = "{{ url_for('logout') }}"
        })

        profilebtn.addEventListener('click', ()=> {
            profile.style.display = 'flex';
            security.style.display = 'none';
            account.style.display = 'none';

            profilebtn.classList.add('chosen');
            securitybtn.classList.remove('chosen');
            accountbtn.classList.remove('chosen');

        })

        securitybtn.addEventListener('click', ()=> {
            profile.style.display = 'none';
            security.style.display = 'flex';
            account.style.display = 'none';

            profilebtn.classList.remove('chosen');
            securitybtn.classList.add('chosen');
            accountbtn.classList.remove('chosen');
        })

        accountbtn.addEventListener('click', ()=> {
            profile.style.display = 'none';
            security.style.display = 'none';
            account.style.display = 'flex';

            profilebtn.classList.remove('chosen');
            securitybtn.classList.remove('chosen');
            accountbtn.classList.add('chosen');
        })

        settingspfp.addEventListener('click', ()=> {
            hiddenupload.click();
        })

        hiddenupload.addEventListener('change', ()=>{
            if (hiddenupload.files.length > 0) {
                pfpform.submit();
                    
            }
        });

        document.addEventListener('DOMContentLoaded', ()=> {
            hiddenupload.addEventListener('change', function() {
                const fileName = this.files[0] ? this.files[0].name : "No file chosen";
                  document.querySelector(".settingsfilename").textContent = fileName;
            })
        })
        
        pfp.addEventListener('click', ()=> {
            window.location.href = "{{ url_for('settings', user_id=current_user.id)}}"
        })        

        home.addEventListener('click', ()=> {
            window.location.href = "{{ url_for('home') }}"
        })

        uploadbtn.addEventListener('click', ()=> {
            window.location.href = '{{ url_for("upload") }}'
        })


    </script>
</body>
</html>